<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Até Breve!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body class="body-menu">
    <div class="menu-container">
        <h1 class="game-title">Obrigado por jogar!</h1>
        <a href="{{ url_for('menu_principal') }}" class="menu-button">Voltar ao Menu</a>
    </div>
</body>
</html>